<div class="news">
  <div class="mainMargin">
    <h2>News details</h2>
    <div class="imgDiv">
      <img
        src="{{ article.urlToImage }}"
        alt="no image"
        width="400"
        height="240"
      />
    </div>
    <div class="textDiv">
      <div>
        <p class="title">{{ article.title }}</p>
        <p>Description: {{ article.description }}</p>
        <p>Content: {{ article.content }}</p>
        <p>Url: {{ article.url }}</p>
        <p class="date">
          {{ article.publishedAt | customDate }}
        </p>
        <p>{{ article.author }}</p>
      </div>
      <div *ngIf="article.source.name == 'me'">
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-danger delButton">Delete</button>
      </div>
    </div>
  </div>
</div>
