<div class="mainMargin">
  <div class="imgDiv">
    <img
      src="{{ article.urlToImage }}"
      alt="description of"
      width="150"
      height="100"
    />
  </div>
  <div class="textDiv">
    <div>
      <p class="title">{{ article.title }}</p>
      <p class="date">
        Date:
        {{ article.publishedAt | date }}
      </p>
    </div>
    <p>{{ article.description }}</p>
    <button class="btn btn-link" routerLink="/article/{{ article.id }}">
      Read more...
    </button>
  </div>
</div>
