.saveButton {
  margin-top: 20px;
  width: 100px;
}

.cancelButton {
  margin-top: 20px;
  float: right;
  width: 100px;
}

.formDiv {
  width: 800px;
  border: 4px;
  margin: 0 auto;
}

.ng-valid:not(form) {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}
